.form {
  margin-top: 20px;
}
.form__form {
  width: 70%;
  margin-left: auto;
}

.form__button > Button {
  margin-top: 20px;
  background: lightgray;
  margin-left: 15px;
}
.form__button > Button:hover {
  background: grey;
}

.form__para {
  margin-left: 15px;
  color: red;
  margin-top: -1px;
  font-size: 14px;
}
