* {
  text-decoration: none;
}
.header {
  display: grid;
  place-items: center;
  margin: auto;
}
.header > h1 {
  margin-bottom: 50px;
  margin-top: 50px;
}
.header__font {
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: auto;
  background: lightgray;
  width: 35vw;
  border-radius: 10px;
  justify-content: space-evenly;
}
.header__font > h4 {
  color: black;
}
p {
  font-weight: 600;
  color: black;
}
p:hover {
  color: red;
}

.header__link1 > p {
  color: red;
}
